.App {
  position: relative;
  min-height: 100vh;
  text-align: center;
  background: rgb(116, 39, 128);
  background: #465d56;
  color: white;
}

.Col {
  margin-bottom: 15px;
  color: black;
}

.HeaderImage {
  max-height: 1950px;
  margin-bottom: 0.5em;
}

.Carousel {
  margin-bottom: 0.5em;
}

.WhiteText {
  color: white; 
}

#footer {
  bottom: 0;
  color: #b9b35f;
  height: 3em;
  left: 0;
  flex-shrink: 0;
  font-size: small;
  width: 100%;
}

.propTextColor {
  color: rgb(255, 171, 92);
}

.hoverCard:hover {
  opacity: 0.6;
}

.headerLink {
  color: rgb(255, 171, 92);
  text-decoration: none;
  margin-right: 10px;
}

.headerLink:hover {
  color: #fcff56;
  text-decoration: blink;
}

.cardText {
  border-bottom: 1px solid rgb(255, 171, 92);
}